@model IEnumerable<CyoloFrontApp.Models.Lawyer>

@{
    ViewBag.Title = "Viewlawyers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WELCOME NADIA OUZOUBAIR</h2>
<form>
    <div class="row">
        <div class="form-group col-md-4">
            @Html.Label("lawyernamefor", "Court Type")
            @Html.TextBox("lawyername", "NADIA OUZOUBAIR", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("datefor", "Court Location")
            @Html.TextBox("date", "2022-10-03", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("datefor", "Chamber ID")
            @Html.TextBox("date", "2022-10-03", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("datefor", "Hearing Date")
            @Html.TextBox("date", "2022-10-03", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("datefor", "hearing Time")
            @Html.TextBox("date", "2022-10-03", new { @class = "form-control" })
        </div>
    </div>
</form>
<h4>RESULT FOR :</h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Court Type</th>
            <th>Court Location</th>
            <th>Chamber ID</th>
            <th>Hearing Date</th>
            <th>Hearing Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.datas[0].courtcase.courtType</td>
            <td>@ViewBag.datas[0].courtcase.courtLocation</td>
            <td>@ViewBag.datas[0].courtcase.chamberID</td>
            <td>@ViewBag.datas[0].courtcase.hearingDateTime</td>
            <td>@ViewBag.datas[0].courtcase.hearingDateTime</td>
        </tr>
    </tbody>
</table>
<p><hr /></p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>E-mail</th>
            <th>Fixed phone number</th>
            <th>Cell phone number</th>
            <th>Preferences for receiving requests</th>
            <th>Additional comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.datas)
        {
            <tr>
                <td>@item.lawyer.name</td>
                <td>@item.lawyer.sureName</td>
                @{
                    string[] emailArr = splitEmail(@item.lawyer.email);
                }
                <td>@emailArr[0]</td>
                @{
                    string[] phoneArr = splitPhone(@item.lawyer.phone);
                }
                @if (phoneArr.Length > 0)
                {
                    <td>@phoneArr[0].Replace("Tel.", "")</td>
                }
                else
                {
                    <td></td>
                }
                @if (phoneArr.Length > 1)
                {
                    <td>@phoneArr[1].Replace("Tel.", "")</td>
                }
                else
                {
                    <td></td>
                }
                @if (emailArr.Length > 1)
                {
                    <td>@emailArr[1]</td>
                }
                else
                {
                    <td></td>
                }
                <td>Please do not send me requests after 8:00 pm</td>
            </tr>
        }
    </tbody>
</table>
@{
    string[] splitEmail(string origin_email)
    {
        string temp = origin_email.Replace("[", "").Replace("]", "").Replace(" ", "").Replace("\"", "");
        string[] result = temp.Split(',');
        return result;
    }

    string[] splitPhone(string origin_phone)
    {
        string temp = origin_phone.Replace("[", "").Replace("]", "").Replace(" ", "").Replace("\"", "");
        string[] result = temp.Split(',');
        return result;
    }
}